# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
log.txt

# macOS
.DS_Store

# Linux
*~

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs y editores comunes
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Sistema
*.bak
*.swp
*.tmp

# Coverage / pruebas
coverage/
.nyc_output/
